{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block content %}
<div class="">
  {% placeholder "feature" %}
</div>
  {% placeholder "content" %}
<div class="container">
                    <div class="col-md-12">
                        <div class="row"><img class="brportfoliopic" height="auto"
                                              src="/media/cms_page_media/5/contact_us.png" width="1070px" /></div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">

                            <iframe width="311" height="280" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Golden+enclave,+near+airport+road,+bangalore&amp;aq=&amp;sll=12.963116,77.651496&amp;sspn=0.024131,0.042272&amp;ie=UTF8&amp;hq=Golden+enclave,&amp;hnear=Airport+Rd&amp;ll=12.963116,77.651496&amp;spn=0.006295,0.022011&amp;t=m&amp;output=embed"></iframe><br /><small>
                                <a href="http://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Golden+enclave,+near+airport+road,+bangalore&amp;aq=&amp;sll=12.963116,77.651496&amp;sspn=0.024131,0.042272&amp;ie=UTF8&amp;hq=Golden+enclave,&amp;hnear=Airport+Rd&amp;ll=12.963116,77.651496&amp;spn=0.006295,0.022011&amp;t=m" style="color:#0000FF;text-align:left">View Larger Map</a>
                            </small>

                            </div>
                            <div class="col-md-4">
                                <h2>Reach Us:</h2>
                                <hr>
                                <h4>Chef Rajneesh Gandhi</h4>
                                <h5> e:	rajneesh.gandhi@chefsatwork.net</h5>
                                <h5>e: rajneeshgandhi62@gmail.com</h5>
                                <h5> m:	+91 - 8197129295</h5>
                            </div>
                            <div class="col-md-4" >
            <!--pannel start here-->
                <div class="panel panel-default" style="width: 343px">
                    <div class="panel-heading">
                        <h3 class="panel-title text-left">Feel free to contact us.</h3>
                    </div>
                <!--pannel body start here-->
                <form method="post" action="/email/send/">{% csrf_token %}
                    <div class="panel-body">

                        <div class="row"style="padding-top: 10px">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">

                                         <input class="form-control"  maxlength="30" name= "firstname"
                                       type="text"  placeholder="First Name" required autofocus=""/>
                                    </div>
                                    <input name="botcheck" class="inputtext" type="text" maxlength="5"
                                                      size="5" value="yes" hidden="hidden" />
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">

                                        <input class="form-control"  name= "lastname" type="text"
                                       placeholder="Last Name" required autofocus=""/>
                                    </div>
                                </div>

                        </div>
                        <div class="form-group">
                                <input class="form-control"   maxlength="30" name="email"
                                       type="email"  placeholder="Email Id" required autofocus=""/>
                                </div>
                            <div class="form-group">
                                <input class="form-control"  name="subject"
                                               type="text" placeholder="Subject" required autofocus=""/>
                            </div>

                            <div class="form-group">
                                                            <div class="span6">

                                    <textarea class="field span12" id="textarea" rows="4"
                                              placeholder="Your Message Here"style="width: 310px"
                                              name="message"></textarea>
                                </div>
                            </div>
                                    <input class="btn btn-danger btn-block" type="submit" name="submitform" value="Send Message" />

                    </div>
                </form>
                    </div>
                <!--pannel body end here-->
                            </div>


                        </div>
                    </div>






{% endblock content %}