{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block content %}
<div class="">
  {% placeholder "feature" %}
</div>
  {% placeholder "content" %}
  <div class="container">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
         <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="../static/chefs/1.jpg" alt="First slide" style="width: 1200px">
          <div class="container">
            <!--<div class="carousel-caption">-->
              <!--<h1>Tagline</h1>-->
              <!--<p>Tagline content goes here</p>-->
              <!--<p><a class="btn btn-lg btn-primary" href="#" role="button">Read more</a></p>-->
            <!--</div>-->
          </div>
        </div>
        <div class="item">
          <img src="../static/chefs/2.jpg" alt="Second slide" style="width: 1200px">
          <div class="container">
            <!--<div class="carousel-caption">-->
              <!--<h1>Tagline</h1>-->
              <!--<p>Tagline content goes here</p>-->
              <!--<p><a class="btn btn-lg btn-primary" href="#" role="button">Read more</a></p>-->
            <!--</div>-->
          </div>
        </div>
        <div class="item">
          <img src="../static/chefs/3.jpg" alt="Third slide" style="width: 1200px">
          <div class="container">
            <!--<div class="carousel-caption">-->
               <!--<h1>Tagline</h1>-->
              <!--<p>Tagline content goes here</p>-->
              <!--<p><a class="btn btn-lg btn-primary" href="#" role="button">Read more</a></p>-->
            <!--</div>-->
          </div>
        </div>
        <div class="item">
          <img src="../static/chefs/4.jpg" alt="Third slide" style="width: 1200px">
          <div class="container">
            <!--<div class="carousel-caption">-->
               <!--<h1>Tagline</h1>-->
              <!--<p>Tagline content goes here</p>-->
              <!--<p><a class="btn btn-lg btn-primary" href="#" role="button">Read more</a></p>-->
            <!--</div>-->
          </div>
        </div>
        <div class="item">
          <img src="../static/chefs/5.jpg" alt="Third slide" style="width: 1200px">
          <div class="container">
            <!--<div class="carousel-caption">-->
               <!--<h1>Tagline</h1>-->
              <!--<p>Tagline content goes here</p>-->
              <!--<p><a class="btn btn-lg btn-primary" href="#" role="button">Read more</a></p>-->
            <!--</div>-->
          </div>
        </div>
        <div class="item">
          <img src="../static/chefs/6.jpg" alt="Third slide" style="width: 1200px">
          <div class="container">
            <!--<div class="carousel-caption">-->
               <!--<h1>Tagline</h1>-->
              <!--<p>Tagline content goes here</p>-->
              <!--<p><a class="btn btn-lg btn-primary" href="#" role="button">Read more</a></p>-->
            <!--</div>-->
          </div>
        </div>
        <div class="item">
          <img src="../static/chefs/7.jpg" alt="Third slide" style="width: 1200px">
          <div class="container">
            <!--<div class="carousel-caption">-->
               <!--<h1>Tagline</h1>-->
              <!--<p>Tagline content goes here</p>-->
              <!--<p><a class="btn btn-lg btn-primary" href="#" role="button">Read more</a></p>-->
            <!--</div>-->
          </div>
        </div>
      </div>

    </div><!-- /.carousel -->
</div>
      <!--slider ends here-->
    <!-- service vertical-->
    <div class="container">

    <div class="row cwservice">
        <div class="col-xs-6 col-md-3">

            <div class="panel status panel-danger1 bord">
                <div class="panel-heading">
                    <h1 class="panel-title text-center"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Analysis</h1>
                </div>
                <div class="panel-body text-center">
                   <p>At Chefs@Work Hospitality Consulting, we offer professional assistance in every aspect of the hospitality industry.</p>
                    <p><a class="btn btn-sm btn-default" href="#" role="button">Read more</a></p>
                </div>
            </div>

        </div>
        <div class="col-xs-6 col-md-3">

            <div class="panel status panel-danger1 bord">
                <div class="panel-heading">
                    <h1 class="panel-title text-center"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Menu designing</h1>
                </div>
                <div class="panel-body text-center">
                    <p>Restaurant menu design is a reflection of the restaurant itself. We offer complete match to your restaurant concept.</p>
                    <p><a class="btn btn-sm btn-default" href="#" role="button">Read more</a></p>
                </div>
            </div>

        </div>
        <div class="col-xs-6 col-md-3">

            <div class="panel status panel-danger1 bord">
                <div class="panel-heading">
                    <h1 class="panel-title text-center"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> Market Research</h1>
                </div>
                <div class="panel-body text-center">
                   <p>Our Market Research can help you better evaluate the satisfaction levels of both your guests and your employees.</p>
                    <p><a class="btn btn-sm btn-default" href="#" role="button">Read more</a></p>
                </div>
            </div>


        </div>
        <div class="col-xs-6 col-md-3">

            <div class="panel status panel-danger1  bord">
                <div class="panel-heading">
                    <h1 class="panel-title text-center"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Training</h1>
                </div>
                <div class="panel-body text-center">
                    <p>Ability of staff to interpret the desires and aspirations of each customer can make a strong and lasting impression.</p>
                    <p><a class="btn btn-sm btn-default" href="#" role="button">Read more</a></p>
                </div>
            </div>


        </div>
    </div>
<div class="slider" >
		<script type="text/javascript">
							var sliderwidth="1060px";
							var sliderheight="70px";
							var slidespeed=2;
							slidebgcolor="#ffffff";

							var leftrightslide=new Array();
							var finalslide='';
							leftrightslide[0]= '<img src="../static/chefs/relish.png" alt="" />';
							leftrightslide[1]= '<img src="../static/chefs/bbcounty.png" alt="" />';
							leftrightslide[2]= '<img src="../static/chefs/kababibangalore.png" alt="" />';
							leftrightslide[3]= '<img src="../static/chefs/wildginger.png" alt="" />';
							leftrightslide[4]= '<img src="../static/chefs/knock.png" alt="" />';
							leftrightslide[5]= '<img src="../static/chefs/upcycle.png" alt="" />';
							leftrightslide[6]= '<img src="../static/chefs/pakodifactory.png" alt="" />';
		<!--					leftrightslide[0]='<img src="images/client_logo/curryleaf.png" alt="" />';	-->
		<!--					leftrightslide[1]='<img src="images/client_logo/desidhaba.png" alt="" />';  -->
							leftrightslide[7]='<img src="../static/chefs/foodstudio.png" alt="" />';
							leftrightslide[8]='<img src="../static/chefs/omango.png" alt="" />';
		<!--					leftrightslide[4]='<img src="images/client_logo/ragahospitality.png" alt="" />';  -->
		<!-- 					leftrightslide[5]= '<img src="images/client_logo/sangroup.png" alt="" />';  -->
							leftrightslide[9]= '<img src="../static/chefs/bmhabitat.png" alt="" />';
                            leftrightslide[10]= '<img src="../static/chefs/bbq.png" alt="" />';
                            leftrightslide[11]= '<img src="../static/chefs/cutney.png" alt="" />';
                            leftrightslide[12]= '<img src="../static/chefs/far.png" alt="" />';
                            leftrightslide[13]= '<img src="../static/chefs/ibiza.png" alt="" />';
                            leftrightslide[14]= '<img src="../static/chefs/muscat.png" alt="" />';




							var imagegap=" ";
							var slideshowgap=6;

							var copyspeed=slidespeed;
							leftrightslide='<nobr>'+leftrightslide.join(imagegap)+'</nobr>';
							var iedom=document.all||document.getElementById;
							if (iedom)
								document.write('<span id="temp" style="visibility:hidden;position:absolute;top:-100px;left:-9000px">'+leftrightslide+'</span>');
							var actualwidth='';
							var cross_slide, ns_slide;

							function fillup(){
								if (iedom){
									cross_slide=document.getElementById? document.getElementById("test2") : document.all.test2;
									cross_slide2=document.getElementById? document.getElementById("test3") : document.all.test3;
									cross_slide.innerHTML=cross_slide2.innerHTML=leftrightslide;
									actualwidth=document.all? cross_slide.offsetWidth : document.getElementById("temp").offsetWidth;
									cross_slide2.style.left=actualwidth+slideshowgap+"px";
								}
								else if (document.layers){
									ns_slide=document.ns_slidemenu.document.ns_slidemenu2;
									ns_slide2=document.ns_slidemenu.document.ns_slidemenu3;
									ns_slide.document.write(leftrightslide);
									ns_slide.document.close();
									actualwidth=ns_slide.document.width;
									ns_slide2.left=actualwidth+slideshowgap;
									ns_slide2.document.write(leftrightslide);
									ns_slide2.document.close();
								}
								lefttime=setInterval("slideleft()",30);
							}
							window.onload=fillup;

							function slideleft(){
								if (iedom){
									if (parseInt(cross_slide.style.left)>(actualwidth*(-1)+8))
										cross_slide.style.left=parseInt(cross_slide.style.left)-copyspeed+"px";
									else
										cross_slide.style.left=parseInt(cross_slide2.style.left)+actualwidth+slideshowgap+"px";

									if (parseInt(cross_slide2.style.left)>(actualwidth*(-1)+8))
										cross_slide2.style.left=parseInt(cross_slide2.style.left)-copyspeed+"px";
									else
										cross_slide2.style.left=parseInt(cross_slide.style.left)+actualwidth+slideshowgap+"px";
								}
								else if (document.layers){
									if (ns_slide.left>(actualwidth*(-1)+8))
										ns_slide.left-=copyspeed;
									else
										ns_slide.left=ns_slide2.left+actualwidth+slideshowgap;
									if (ns_slide2.left>(actualwidth*(-1)+8))
										ns_slide2.left-=copyspeed;
									else
										ns_slide2.left=ns_slide.left+actualwidth+slideshowgap;
								}
							}

							if (iedom||document.layers){
								with (document){
									document.write('<table border="0" style="margin-left:5px;" cellspacing="0" cellpadding="0"><td>');
									if (iedom){
										write('<div style="position:relative;width:'+sliderwidth+';height:'+sliderheight+';overflow:hidden">');
										write('<div style="position:absolute;width:'+sliderwidth+';height:'+sliderheight+';background-color:'+slidebgcolor+'" onMouseover="copyspeed=0" onMouseout="copyspeed=slidespeed">');
										write('<div id="test2" style="position:absolute;left:0px;top:0px"></div>');
										write('<div id="test3" style="position:absolute;left:-1000px;top:0px"></div>');
										write('</div></div>');
									}
									else if (document.layers){
										write('<ilayer width='+sliderwidth+' height='+sliderheight+' name="ns_slidemenu" bgColor='+slidebgcolor+'>');
										write('<layer name="ns_slidemenu2" left=0 top=0 onMouseover="copyspeed=0" onMouseout="copyspeed=slidespeed"></layer>');
										write('<layer name="ns_slidemenu3" left=0 top=0 onMouseover="copyspeed=0" onMouseout="copyspeed=slidespeed"></layer>');
										write('</ilayer>');
									}
									document.write('</td></table>');
								}
							}
						</script>
	</div>
</div>

{% endblock content %}
